<div class="row">
  <div class="col-md-6">
    <nb-card size="small">
      <nb-card-header>User Details</nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label">Username</label>
          <div class="col-sm-9">
            <label class="label col-sm-9 col-form-label">{{user.name}}</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="label col-sm-3 col-form-label">Designation</label>
          <div class="col-sm-9">
            <label class="label col-sm-9 col-form-label">{{user.designation}}</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="label col-sm-3 col-form-label">Organization</label>
          <div class="col-sm-9">
            <nb-user [name]="user?.organization.name" [picture]="user?.picture">
            </nb-user>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card size="small">
      <nb-card-header>Change Password</nb-card-header>
      <nb-card-body>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <div class="form-group">
            <input type="password" formControlName="currentPassword"
              class="form-control input-full-width size-medium status-basic shape-rectangle nb-transition"
              [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" nbInput fullWidth
              placeholder="Current Password" />
            <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
              <div *ngIf="f.currentPassword.errors.required">Enter current Password</div>
            </div>

            <div *ngIf="invalidPassword" style="color: red;"><span>Please Enter valid password</span></div>

            <!-- <input class="input-full-width size-medium status-basic shape-rectangle nb-transition" required type="text" nbInput fullWidth placeholder="Enter present password"> -->
          </div>
          <div class="form-group">
            <input type="password" formControlName="password"
              class="form-control input-full-width size-medium status-basic shape-rectangle nb-transition"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="New Password" nbInput
              fullWidth />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <!-- <input class="input-full-width size-medium status-basic shape-rectangle nb-transition" type="text" nbInput fullWidth required placeholder="Enter new password"> -->
          </div>
          <div class="form-group">
            <input type="password" formControlName="confirmPassword"
              class="form-control input-full-width size-medium status-basic shape-rectangle nb-transition"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password" nbInput
              fullWidth />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            <!-- <input class="input-full-width size-medium status-basic shape-rectangle nb-transition" type="text" nbInput fullWidth required placeholder="Confirm password"> -->
          </div>
          <div class="float-right" *ngIf="passwordUpdated" style="color: green;"><span>Password Updated. You will be redirected to login page</span></div>

          <div class="form-group float-right">
            <button type="submit" nbButton status="primary" [disabled]="! isDisabled">Update Password</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>