label{
    color: #222b45 !important
}

.nb-theme-default nb-sidebar .main-container, .nb-theme-default nb-sidebar, .nb-theme-default nb-sidebar.expanded {
    width: 11rem !important;
}

.nb-theme-default nb-sidebar.compacted {
    width: 3.5rem !important;
}

.nb-theme-default nb-card {
    margin-bottom: 0.10rem;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0.50rem 1.00rem;
}

.nb-theme-default nb-card.size-large {
    height: 100vh !important;
}