<div class="container-fluid">
    <div class="row">
      <div class="col-2 noPadding">
        <ng-sidebar-container>
          <!-- A sidebar -->
          <ng-sidebar class="app-sidebar" [opened]="opened">
            <div class="welcomeheader">
              <img class="userPic " src="../../assets/img/me.png">
              <h5 class="welcomeUser">Hello Nihit</h5>
            </div>

            <ul class="menu">
              <li>
                <a routerLink="/"><i class="fas fa-home"></i> Dashboard</a></li>
            </ul>
          </ng-sidebar>
        </ng-sidebar-container>
      </div>
  
      <div class="col-10 noPadding">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>