ng-sidebar-container{
  height: 100vh;
  /* background: linear-gradient(to bottom, #42474d 10%, #ffffff 93%); */
}

::ng-deep .ng-sidebar{
  width: 99%;
  padding: 1em 1em;
  box-shadow: 0 0 0.5em rgba(185, 185, 185, 0.5);
  background-color: #fff;
}

.menu{
  margin-top: 2em;
  display: block;
  padding: 0px;
  text-align: center;
}

.menu li, .menu li:focus {
  margin-bottom: 15px;
  list-style: none;
}

.menu li a, 
.menu li a:hover,
.menu li a:active,
.menu li a:visited
{
  display: block;
  width: 100%;
  text-decoration: none;
  outline: none !important;
  font-size: 20px;
  color: #000;
}

.welcomeUser{
  margin-left: 5px;
    display: inline;
  color: #000;
}

.welcomeheader img {
  background: #555;
}